.banner {
  height: 200px;
  width: 100%;
  background-image: url('/public/background-page-login.png');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: -100px;
}