@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  overflow: hidden;
}

/* antd custom */
.ant-form-item {
  margin-bottom: 0;
}

.app-name {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(29, 29, 29);
  font-size: 1.5rem;
}

.ant-layout-content {
  overflow: auto !important;
}